<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} -CAREER MAKER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        {% block head %}{% endblock %}
  </head>

  <body>


  <!---------------------------- NAVIGATION BAR BEGINS ---------------------------->


  <nav>
    <div class="nav-wrapper">
      <a href="/admin" class="brand-logo">CAREER MAKER</a>

        <a href="#" data-activates="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
            <li><a href="/admin/companies">COMPANIES</a></li>
            <li><a href="/admin/candidates">CANDIDATES</a></li>

            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">JOBS
                <i class="material-icons right">arrow_drop_down</i></a></li>

            <li><a class="dropdown-button" href="#!" data-activates="dropdown2">SETTING
            <i class="material-icons right">arrow_drop_down</i></a></li>

        </ul>

        <ul id="dropdown1" class="dropdown-content">
            <li><a href="/admin/python">Python</a></li>
            <li><a href="/admin/android">Android</a></li>
            <li class="divider"></li>
            <li><a href="/admin/php">Php</a></li>
        </ul>
        <ul id="dropdown2" class="dropdown-content">
            {% if session['email'] %}
            <li><a href="{{ url_for('clearsession2') }}">LOGOUT</a></li>
            {% else %}
            <li><a href="/admin">SIGN IN</a></li>{% endif %}

        </ul>
    </div>

    <div class="nav-wrapper">
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/admin/companies">COMPANIES</a></li>
            <li><a href="/admin/candidates">CANDIDATES</a></li>

            <li><a class="dropdown-button" href="#!" data-activates="dropdown3">JOBS
                <i class="material-icons right">arrow_drop_down</i></a></li>

            <li><a class="dropdown-button" href="#!" data-activates="dropdown4">SETTING
            <i class="material-icons right">arrow_drop_down</i></a></li>

        </ul>
        <ul id="dropdown3" class="dropdown-content">
            <li><a href="/admin/python">Python</a></li>
            <li><a href="/admin/android">Android</a></li>
            <li class="divider"></li>
            <li><a href="/admin/php">Php</a></li>
        </ul>

        <ul id="dropdown4" class="dropdown-content">
            {% if session['email'] %}
            <li><a href="{{ url_for('clearsession2') }}">LOGOUT</a></li>
            {% else %}
            <li><a href="/admin">SIGN IN</a></li>{% endif %}

        </ul>
    </div>
  </nav>


 <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table_style.css') }}">

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

 <script>
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();
 </script>
  <!----------------------------- NAVIGATION BAR ENDS ----------------------------->

                   {% block content %}{% endblock %}



  <!----------------------------- FOOTER ----------------------------->

    <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
           <center>

      &copy; Copyright 2017 by <a href="#">carrer maker, Inc.</a>.
        </center>
            <!--<a class="grey-text text-lighten-4 right" href="#!">More </a>-->
            </div>
          </div>
        </footer>
    </body>
  </html>
