<center>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:0px">
    <h5><b><i class="fa fa-dashboard"></i> login your account</b></h5>
  </header>



  <div class="w3-container">


        <h1 style="color: blue;">login your account</h1><br>
        <div class="account-wall">
            <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">

            <form class="form-signin"  action="/admin/admin_login" method="post">
                <input type="email" class="form-control" placeholder="Email" name="email"  required autofocus >
                <input type="password" class="form-control" placeholder="Password" name="password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>

            </div>

    </div>
</center>
