{% extends "candidate/base.html" %}
{% block title %}HOME{% endblock %}
{% block head %}
  {{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}
{% block content %}

<p class="important">
{% if session['name'] %}Welcome :&emsp;{{session['name']}}






  {% else %}

    <p style="color: red"> You still didn't set your Email, do it
        <a href="{{ url_for('candidate') }}">here</a></p>

  {% include 'candidate/session.html' %}
  {% endif %}
</p>

{% endblock %}
